/* HTML */
html{
    font-size: 16px;
}

/* BASIC SETUP */

.center-text{
    text-align: center;
}

.primary-gradient{  
    background: rgba(61,95,135,1);
    background: -moz-linear-gradient(top, rgba(61,95,135,1) 0%, rgba(0,0,76,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(61,95,135,1)), color-stop(100%, rgba(0,0,76,1)));
    background: -webkit-linear-gradient(top, rgba(61,95,135,1) 0%, rgba(0,0,76,1) 100%);
    background: -o-linear-gradient(top, rgba(61,95,135,1) 0%, rgba(0,0,76,1) 100%);
    background: -ms-linear-gradient(top, rgba(61,95,135,1) 0%, rgba(0,0,76,1) 100%);
    background: linear-gradient(to bottom, rgba(61,95,135,1) 0%, rgba(0,0,76,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d5f87', endColorstr='#00004c', GradientType=0 );
}
.primary-color{
    color: #3d6087 !important;
}
.primary-bg{
    background-color: #3d6087 !important;
}

/****** INDEX ******/

/* HEADER */

.header-nav{
    background-color: #FFF;
}
.header-logo{
    width: 150px;
}
.header-navbar{
    margin-left: auto;
}
.header-btn{
    margin: 10px !important;
    padding: 10px 20px !important;
}
.header-log{
    border: 1px #3d6087 solid !important;
}
.header-sign{
    color: #FFF !important;
}

/* HERO TEXT */

.hero-text-shape{
    clip-path: polygon(0 0, 100% 0, 100% 84%, 0% 100%);
}
.hero-text-row{
    padding-top: 100px;
    padding-bottom: 100px;
}
.hero-text-img{
    width: 80%;
}
.hero-text-info{
    color: #FFF;
    text-align: right;
}
.hero-text-h2{
    font-size: 4em;
}
.hero-text-h3{
    font-size: 3em;
    margin-bottom: 35px;
}
.hero-text-btn{
    margin-top: 20px;
    padding: 10px 15px;
    color: #FFF;
    font-size: 1.5em;
    border: 2px solid #FFF;
}

/* MAIN CONTENT */

.main-content{
    padding-top: 50px;
}
.index-row{
    margin-bottom: 50px;
}
.index-img{
    width: 100%;
}
.index-icon{
    font-size: 4em;
}

/****** SESSION CONTROL ******/

/* HEADER */

.session-control-logo{
    margin: 20px;
}

/* CONTENT */

.session-control-bg{
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.session-control-img{
    position: absolute;
    width: 45%;
    max-width: 500px;
}
.session-control-card{
    margin: 35px auto;
    padding: 3em;
    width: 60%;
    background-color: rgba(255,255,255,0.95) !important;
}
.session-control-card-title{
    display: block;
    margin: 0 auto 35px auto;
}
.session-control-card-input{
    margin: 10px auto;
    border-color: #3d6087 !important;
}
.session-control-card-btn{
    margin-bottom: 10px;
    width: 100%;
    border-color: #3d6087 !important;
}
.session-control-err{
    margin: 20px auto 0 auto;
    padding: 3em;
    width: 60%;
}

/****** DESKTOP ******/

/* CONTENT */

.desktop-row{
    margin-top: 50px;
}
.desktop-title{
    color: #FFF;
}
.desktop-btn{
    float: right;
    padding: .375rem 2rem !important;
    background-color: #FFF !important;
}
.desktop-add{
    float: right;
    padding: .375rem 2rem !important;
    background-color: #c0843d !important;
    border: 0 !important;
}
.desktop-delete{
    float: right;
    margin: 0 15px;
    padding: .375rem 2rem !important;
    background-color: #ff4d4d !important;
    border: 0 !important;
}
.desktop-update{
    float: right;
    margin: 0 15px;
    padding: .375rem 2rem !important;
    background-color: #36b336 !important;
    border: 0 !important;
}
.desktop-profile-col{
    display: flex;
    justify-content: center;
}
.desktop-profile-delete{
    width: 60%;
    margin: 0 auto 15px auto;
    background-color: #ff4d4d !important;
    border: 0 !important;
}
.desktop-profile-close{
    width: 60%;
    margin: 0 auto 50px auto;
    background-color: #c0843d !important;
    border: 0 !important;
}
.desktop-add-title{
    margin-top: 50px;
    margin-bottom: 50px;
}
.desktop-add-row{
    margin-bottom: 50px;
}
.rss-row{
    margin-top: 50px;
}
.rss-card{
    margin-bottom: 50px;
}
.rss-title{
    color: #FFF;
}

/****** FOOTER ******/

.footer-bg{
    background-color: #222;
    height: 15vh;
}